.modal {
  &.modal-centered {
    align-items: center;
    justify-content: center;
  }

  &.show {
    display: block;
    background-color: rgba(0,0,0,0.7);

    &.modal-centered {
      display: flex;
    }
  }
}
