<div class="login">
  <app-modal [show]="modalShow">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save changes</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="toggleModal()">Close</button>
    </div>
  </app-modal>
  <form [formGroup]="form" (submit)="enter()">
    <div class="form-group">
      <label for="username">Type your username</label>
      <input class="form-control form-control-lg" type="text" id="username" formControlName="username" />
    </div>
    <button type="submit"
            class="btn btn-lg btn-primary"
            [disabled]="form.invalid">enter</button>
    <button type="button"
            class="btn btn-lg btn-outline-danger"
            (click)="toggleModal()">open modal: {{modalShow}}</button>
  </form>
</div>
